@tailwind base;
@tailwind components;
@tailwind utilities;

.sample {
    color: red;
    width: 50%;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*
body {
    background-image: url("../img/Desktop_Dashboard.png");
    background-size: 100vw;
}*/