@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.sample {
    color: red;
    width: 50%;
}

body {
    background-image: url("./Desktop_Dashboard.png");
    background-size: 100vw;
}